# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Remove Terraform provider related files
.terraform/

# Remove personal variable files
personalvars_*

# remove backup/old files
*.backup
*.OLD

# testing scripts
*.bat

.idea/
